<section class="about-us">
  <div class="about-us-container">
    <!-- Text Section -->
    <div class="about-us-text">
      <h1 class="about-us-title">About Us</h1>
      <p class="about-us-main-text">Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable and stylish accessory on your wrist.</p>
      <p class="about-us-main-text">At our premium watch collection, we believe that a watch is more than just a timekeeping device - it's a statement piece that reflects your personality and style. So why settle for anything less than the best?</p>
      <a href="#catalog" class="catalog-button">View catalog</a>
    </div>
    <!-- Image Section -->
    <div class="about-us-image">
      <picture>
        <!-- Mobile version -->
        <source srcset="../img/about-us/about-us-img-mobile.jpg" media="(max-width: 375px)">
        <!-- Tablet version -->
        <source srcset="../img/about-us/about-us-img-tablet.jpg" media="(max-width: 768px)">
        <!-- Desktop version (default) -->
        <img class="picture-about-us" src="./img/about-us/about-us-img-desktop.jpg" width="530" height="532" alt="Our Premium Watch">
      </picture>
    </div>
  </div>
</section>
