<section class="catalog">
  <div class="container">
    <h2 class="section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="container">
          <picture class="catalog-img">
            <source media="(min-width: 1280px)" srcset="/img/catalog/watch-modal1-desktop.png 1x, /img/catalog/watch-modal1-desktop@2x.png 2x">
            <source media="(min-width: 768px)" srcset="/img/catalog/watch-modal1-tablet.png 1x, /img/catalog/watch-modal1-tablet@2x.png 2x">
            <source media="(min-width: 375px)" srcset="/img/catalog/watch-modal1-mobile.png 1x, /img/catalog/watch-modal1-mobile@2x.png 2x">
            <img src="/img/catalog/watch-modal1-mobile.png" alt="Garmin Fenix 7X Pro Sapphire Solar">
          </picture>
          <h3 class="catalog-watch-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-watch-price">€500</p>
        </div>       
      </li>
      <li class="catalog-item">
        <div class="container">
          <picture class="catalog-img">
            <source media="(min-width: 1280px)" srcset="/img/catalog/watch-modal2-desktop.png 1x, /img/catalog/watch-modal2-desktop@2x.png 2x">
            <source media="(min-width: 768px)" srcset="/img/catalog/watch-modal2-tablet.png 1x, /img/catalog/watch-modal2-tablet@2x.png 2x">
            <source media="(min-width: 375px)" srcset="/img/catalog/watch-modal2-mobile.png 1x, /img/catalog/watch-modal2-mobile@2x.png 2x">
            <img src="/img/catalog/watch-modal2-mobile.png" alt="Garmin Marq Athlete">
          </picture>
          <h3 class="catalog-watch-name">Garmin Marq Athlete</h3>
          <p class="catalog-watch-price">€450</p>
        </div>       
      </li>
      <li class="catalog-item">
        <div class="container">
          <picture class="catalog-img">
            <source media="(min-width: 1280px)" srcset="/img/catalog/watch-modal3-desktop.png 1x, /img/catalog/watch-modal3-desktop@2x.png 2x">
            <source media="(min-width: 768px)" srcset="/img/catalog/watch-modal3-tablet.png 1x, /img/catalog/watch-modal3-tablet@2x.png 2x">
            <source media="(min-width: 375px)" srcset="/img/catalog/watch-modal3-mobile.png 1x, /img/catalog/watch-modal3-mobile@2x.png 2x">
            <img src="/img/catalog/watch-modal3-mobile.png" alt="Garmin Descent MK1">
          </picture>
          <h3 class="catalog-watch-name">Garmin Descent MK1</h3>
          <p class="catalog-watch-price">€680</p>
        </div>       
      </li>
      <li class="catalog-item">
        <div class="container">
          <picture class="catalog-img">
            <source media="(min-width: 1280px)" srcset="/img/catalog/watch-modal4-desktop.png 1x, /img/catalog/watch-modal4-desktop@2x.png 2x">
            <source media="(min-width: 768px)" srcset="/img/catalog/watch-modal4-tablet.png 1x, /img/catalog/watch-modal4-tablet@2x.png 2x">
            <source media="(min-width: 375px)" srcset="/img/catalog/watch-modal4-mobile.png 1x, /img/catalog/watch-modal4-mobile@2x.png 2x">
            <img src="/img/catalog/watch-modal4-mobile.png" alt="Garmin D2 Delta PX">
          </picture>
          <h3 class="catalog-watch-name">Garmin D2 Delta PX</h3>
          <p class="catalog-watch-price">€380</p>
        </div>       
      </li>
      <li class="catalog-item">
        <div class="container">
          <picture class="catalog-img">
            <source media="(min-width: 1280px)" srcset="/img/catalog/watch-modal5-desktop.png 1x, /img/catalog/watch-modal5-desktop@2x.png 2x">
            <source media="(min-width: 768px)" srcset="/img/catalog/watch-modal5-tablet.png 1x, /img/catalog/watch-modal5-tablet@2x.png 2x">
            <img src="/img/catalog/watch-modal5-tablet.png" alt="Garmin Fenix 6 Pro Solar">
          </picture>
          <h3 class="catalog-watch-name">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-watch-price">€400</p>
        </div>       
      </li>
      <li class="catalog-item">
        <div class="container">
          <picture class="catalog-img">
            <source media="(min-width: 1280px)" srcset="/img/catalog/watch-modal6-desktop.png 1x, /img/catalog/watch-modal6-desktop@2x.png 2x">
            <source media="(min-width: 768px)" srcset="/img/catalog/watch-modal6-tablet.png 1x, /img/catalog/watch-modal6-tablet@2x.png 2x">
            <img src="/img/catalog/watch-modal6-tablet.png" alt="Tube Watch S42 Date Steel With Black Case">
          </picture>
          <h3 class="catalog-watch-name">Tube Watch S42 Date Steel With Black Case</h3>
          <p class="catalog-watch-price">€395</p>
        </div>       
      </li>
    </ul>
    <div class="btn">
      <button class="catalog-btn">Show more</button>
    </div> 
  </div>
</section>
