<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo" href="">watchcharm</a>
      <div class="header-nav-wraper">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="" class="header-link">Home</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-link">About Us</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="hea der-link">Catalog</a>
          </li>
          <li class="heade-navr-item">
            <a href="" class="header-link">Sale</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-nav-link">Reviews</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-nav-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <address>
      <ul class="header-adres-list">
        <li>
          <a href="" class="header-social-link">
            <svg class="header-social-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="header-social-link">
            <svg class="header-social-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="header-social-link">
            <svg class="header-social-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</header>
