<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo" href="">watchcharm</a>
      <div class="header-nav-wraper">
        <ul class="header-list">
          <li class="header-item"><a href="" class="header-link">Home</a></li>
          <li class="header-item">
            <a href="" class="header-link">About Us</a>
          </li>
          <li class="header-item">
            <a href="" class="hea der-link">Catalog</a>
          </li>
          <li class="header-item"><a href="" class="header-link">Sale</a></li>
          <li class="header-item">
            <a href="" class="header-link">Reviews</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
