.header {
}
.header-container {
}
.header-nav {
}
.logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-nav-wraper {
}
.header-list {
}
.header-item {
}
.header-link {
}
